.form{
  display:flex;
  flex-direction: column;
  gap: 20px;
  margin:16px;
}
.dk{

 margin-left: auto;
}
AppBar{
  display:flex;
}
.ent{
  display:flex;
  justify-content:center;
  justify-items: center;
  height: 100vh;
  color:green;
}
